<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LishiMes5Mapper">
    
    <resultMap type="LishiMes5" id="LishiMes5Result">
        <result property="mIindex"    column="m_iIndex"    />
        <result property="采样时间"    column="采样时间"    />
        <result property="countGet"    column="count_get"    />
        <result property="vDate1"    column="vDate1"    />
        <result property="XMCPBH337"    column="XMCPBH337"    />
        <result property="XMESBTKZQD38"    column="XMESBTKZQD38"    />
        <result property="XMESBTKYQD39"    column="XMESBTKYQD39"    />
    </resultMap>

    <sql id="selectLishiMes5Vo">
        select m_iIndex, 采样时间, count_get, vDate1, XMCPBH337, XMESBTKZQD38, XMESBTKYQD39 from lishi_mes5
    </sql>

    <select id="selectLishiMes5List" parameterType="LishiMes5" resultMap="LishiMes5Result">
        <include refid="selectLishiMes5Vo"/>
        <where>  
            <if test="mIindex != null "> and m_iIndex = #{mIindex}</if>
            <if test="采样时间 != null "> and 采样时间 = #{采样时间}</if>
            <if test="countGet != null "> and count_get = #{countGet}</if>
            <if test="vDate1 != null "> and vDate1 = #{vDate1}</if>
            <if test="XMCPBH337 != null  and XMCPBH337 != ''"> and XMCPBH337 = #{XMCPBH337}</if>
            <if test="XMESBTKZQD38 != null "> and XMESBTKZQD38 = #{XMESBTKZQD38}</if>
            <if test="XMESBTKYQD39 != null "> and XMESBTKYQD39 = #{XMESBTKYQD39}</if>
        </where>
    </select>
    
    <select id="selectLishiMes5ByMIindex" parameterType="Long" resultMap="LishiMes5Result">
        <include refid="selectLishiMes5Vo"/>
        where m_iIndex = #{mIindex}
    </select>

    <insert id="insertLishiMes5" parameterType="LishiMes5">
        insert into lishi_mes5
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mIindex != null">m_iIndex,</if>
            <if test="采样时间 != null">采样时间,</if>
            <if test="countGet != null">count_get,</if>
            <if test="vDate1 != null">vDate1,</if>
            <if test="XMCPBH337 != null">XMCPBH337,</if>
            <if test="XMESBTKZQD38 != null">XMESBTKZQD38,</if>
            <if test="XMESBTKYQD39 != null">XMESBTKYQD39,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mIindex != null">#{mIindex},</if>
            <if test="采样时间 != null">#{采样时间},</if>
            <if test="countGet != null">#{countGet},</if>
            <if test="vDate1 != null">#{vDate1},</if>
            <if test="XMCPBH337 != null">#{XMCPBH337},</if>
            <if test="XMESBTKZQD38 != null">#{XMESBTKZQD38},</if>
            <if test="XMESBTKYQD39 != null">#{XMESBTKYQD39},</if>
         </trim>
    </insert>

    <update id="updateLishiMes5" parameterType="LishiMes5">
        update lishi_mes5
        <trim prefix="SET" suffixOverrides=",">
            <if test="采样时间 != null">采样时间 = #{采样时间},</if>
            <if test="countGet != null">count_get = #{countGet},</if>
            <if test="vDate1 != null">vDate1 = #{vDate1},</if>
            <if test="XMCPBH337 != null">XMCPBH337 = #{XMCPBH337},</if>
            <if test="XMESBTKZQD38 != null">XMESBTKZQD38 = #{XMESBTKZQD38},</if>
            <if test="XMESBTKYQD39 != null">XMESBTKYQD39 = #{XMESBTKYQD39},</if>
        </trim>
        where m_iIndex = #{mIindex}
    </update>

    <delete id="deleteLishiMes5ByMIindex" parameterType="Long">
        delete from lishi_mes5 where m_iIndex = #{mIindex}
    </delete>

    <delete id="deleteLishiMes5ByMIindexs" parameterType="String">
        delete from lishi_mes5 where m_iIndex in 
        <foreach item="mIindex" collection="array" open="(" separator="," close=")">
            #{mIindex}
        </foreach>
    </delete>
</mapper>