<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OutputMes9Mapper">
    
    <resultMap type="OutputMes9" id="OutputMes9Result">
        <result property="采样时间"    column="采样时间"    />
        <result property="countGet"    column="count_get"    />
        <result property="vDate1"    column="vDate1"    />
        <result property="XMLY66"    column="XMLY66"    />
        <result property="XMMAR67"    column="XMMAR67"    />
        <result property="XMMAD68"    column="XMMAD68"    />
        <result property="XMAAD69"    column="XMAAD69"    />
        <result property="XMVAD70"    column="XMVAD70"    />
        <result property="XMFCAD71"    column="XMFCAD71"    />
        <result property="XMQL72"    column="XMQL72"    />
        <result property="XMQNETAR73"    column="XMQNETAR73"    />
        <result property="XMQNETAD74"    column="XMQNETAD74"    />
    </resultMap>

    <sql id="selectOutputMes9Vo">
        select 采样时间, count_get, vDate1, XMLY66, XMMAR67, XMMAD68, XMAAD69, XMVAD70, XMFCAD71, XMQL72, XMQNETAR73, XMQNETAD74 from output_mes9
    </sql>

    <select id="selectOutputMes9List" parameterType="OutputMes9" resultMap="OutputMes9Result">
        <include refid="selectOutputMes9Vo"/>
        <where>  
            <if test="采样时间 != null "> and 采样时间 = #{采样时间}</if>
            <if test="countGet != null "> and count_get = #{countGet}</if>
            <if test="vDate1 != null "> and vDate1 = #{vDate1}</if>
            <if test="XMLY66 != null  and XMLY66 != ''"> and XMLY66 = #{XMLY66}</if>
            <if test="XMMAR67 != null "> and XMMAR67 = #{XMMAR67}</if>
            <if test="XMMAD68 != null "> and XMMAD68 = #{XMMAD68}</if>
            <if test="XMAAD69 != null "> and XMAAD69 = #{XMAAD69}</if>
            <if test="XMVAD70 != null "> and XMVAD70 = #{XMVAD70}</if>
            <if test="XMFCAD71 != null "> and XMFCAD71 = #{XMFCAD71}</if>
            <if test="XMQL72 != null "> and XMQL72 = #{XMQL72}</if>
            <if test="XMQNETAR73 != null "> and XMQNETAR73 = #{XMQNETAR73}</if>
            <if test="XMQNETAD74 != null "> and XMQNETAD74 = #{XMQNETAD74}</if>
        </where>
    </select>
    
    <select id="selectOutputMes9By采样时间" parameterType="Date" resultMap="OutputMes9Result">
        <include refid="selectOutputMes9Vo"/>
        where 采样时间 = #{采样时间}
    </select>

    <insert id="insertOutputMes9" parameterType="OutputMes9">
        insert into output_mes9
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="采样时间 != null">采样时间,</if>
            <if test="countGet != null">count_get,</if>
            <if test="vDate1 != null">vDate1,</if>
            <if test="XMLY66 != null">XMLY66,</if>
            <if test="XMMAR67 != null">XMMAR67,</if>
            <if test="XMMAD68 != null">XMMAD68,</if>
            <if test="XMAAD69 != null">XMAAD69,</if>
            <if test="XMVAD70 != null">XMVAD70,</if>
            <if test="XMFCAD71 != null">XMFCAD71,</if>
            <if test="XMQL72 != null">XMQL72,</if>
            <if test="XMQNETAR73 != null">XMQNETAR73,</if>
            <if test="XMQNETAD74 != null">XMQNETAD74,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="采样时间 != null">#{采样时间},</if>
            <if test="countGet != null">#{countGet},</if>
            <if test="vDate1 != null">#{vDate1},</if>
            <if test="XMLY66 != null">#{XMLY66},</if>
            <if test="XMMAR67 != null">#{XMMAR67},</if>
            <if test="XMMAD68 != null">#{XMMAD68},</if>
            <if test="XMAAD69 != null">#{XMAAD69},</if>
            <if test="XMVAD70 != null">#{XMVAD70},</if>
            <if test="XMFCAD71 != null">#{XMFCAD71},</if>
            <if test="XMQL72 != null">#{XMQL72},</if>
            <if test="XMQNETAR73 != null">#{XMQNETAR73},</if>
            <if test="XMQNETAD74 != null">#{XMQNETAD74},</if>
         </trim>
    </insert>

    <update id="updateOutputMes9" parameterType="OutputMes9">
        update output_mes9
        <trim prefix="SET" suffixOverrides=",">
            <if test="countGet != null">count_get = #{countGet},</if>
            <if test="vDate1 != null">vDate1 = #{vDate1},</if>
            <if test="XMLY66 != null">XMLY66 = #{XMLY66},</if>
            <if test="XMMAR67 != null">XMMAR67 = #{XMMAR67},</if>
            <if test="XMMAD68 != null">XMMAD68 = #{XMMAD68},</if>
            <if test="XMAAD69 != null">XMAAD69 = #{XMAAD69},</if>
            <if test="XMVAD70 != null">XMVAD70 = #{XMVAD70},</if>
            <if test="XMFCAD71 != null">XMFCAD71 = #{XMFCAD71},</if>
            <if test="XMQL72 != null">XMQL72 = #{XMQL72},</if>
            <if test="XMQNETAR73 != null">XMQNETAR73 = #{XMQNETAR73},</if>
            <if test="XMQNETAD74 != null">XMQNETAD74 = #{XMQNETAD74},</if>
        </trim>
        where 采样时间 = #{采样时间}
    </update>

    <delete id="deleteOutputMes9By采样时间" parameterType="Date">
        delete from output_mes9 where 采样时间 = #{采样时间}
    </delete>

    <delete id="deleteOutputMes9By采样时间s" parameterType="String">
        delete from output_mes9 where 采样时间 in 
        <foreach item="采样时间" collection="array" open="(" separator="," close=")">
            #{采样时间}
        </foreach>
    </delete>
</mapper>